* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

nav {
  height: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  margin: 0px 100px;
  align-items: center;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.project-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-container:before {
  right: -500px;
  border-right: 500px solid transparent;
  border-bottom: 300px solid #f2f2f2;
  transform: translateX(-100%);
}

.project-container:hover:before {
  transform: translateX(0);
}

.project-info {
  margin: 40px 100px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 40px;
}

h2 {
  font-family: "Handlee", cursive;
}

img {
  width: 450px;
  margin-left: 30px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-info p {
  margin-bottom: 30px;
}

*:before,
*:after {
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #32cd32;
  padding: 8px;
  margin: 0px 20px;
  color: #32cd32;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button:before {
  right: -50px;
  border-right: 50px solid transparent;
  border-bottom: 105px solid #228b22;
  transform: translateX(-100%);
}

.button:after {
  left: -50px;
  border-left: 50px solid transparent;
  border-top: 105px solid #228b22;
  transform: translateX(100%);
}

.button:hover {
  color: white;
}

.button:hover:before {
  transform: translateX(-49%);
}

.button:hover:after {
  transform: translateX(49%);
}

.footer-in-projects {
  height: 100px;
}

.placeholder-container {
  height: 100px;
}

.btn-disable {
  cursor: url("http://icons.iconarchive.com/icons/tatice/cristal-intense/24/Ad-Aware-icon.png"),
    auto;
}
