/* body {
  background-image: url("Wood_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
} */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  width: 50%;
}

.bio-image {
  display: flex;
  justify-content: center;
}

.bio-content {
  padding: 100px;
}

.skills-content {
  margin: 0 auto;
  width: 90%;
  height: 70px;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h3 {
  text-align: center;
}

.skills-content > div {
  border: 1px solid gray;
  text-align: center;
  font-size: 13px;
}

.mongodb-image,
.django-image {
  width: 50%;
}
.express-image {
  width: 85%;
}
