* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  /* max-height: 750px; */
}

.bio-container {
  display: flex;
}

img {
  max-height: 760px;
}

/* h3 {
  margin-bottom: 0px;
} */
/* .bio-description {
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
