/* * {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
} */

main {
  /* min-height: 92vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  width: 50%;
}

.bio-image {
  display: flex;
  justify-content: center;
}

.bio-content {
  padding: 100px;
}

.skills-content {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.skills-content > div {
  text-align: center;
  font-size: 13px;
}

.mongodb-image,
.django-image {
  width: 50%;
  margin-top: 6px;
}
.express-image {
  width: 85%;
  margin-top: 10px;
}

.bg-1 {
  background-color: #39cccc;
}

.bg-2 {
  background-color: #b10dc9;
}

.skills-content span {
  color: white;
}

.skills-content .fab {
  margin-top: 15%;
}
