* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

main {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  height: 400px;
}

.contact-intro {
  width: 400px;
  margin-right: 30px;
}

h2 {
  margin: 0px;
  font-size: 30px;
  line-height: 32px;
}

.text-gradient {
  background: linear-gradient(to right, #4b0082 0%, #ff0000 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #696969;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Handlee", cursive;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-bottom: 20px;
}

.button {
  color: white;
  background-color: #ff0000;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}
