.footer-container {
  display: flex;
  width: 97%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer-container h4 {
  font-weight: normal;
}

.favicons i {
  color: #2d2b2b;
}
