* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

.container {
  width: 800px;
  height: 420px;
  margin: 10% auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box1 box1 box1 box8 box2 box3 box3 box13 box13"
    "box1 box1 box1 box1 box8 box2 box3 box3 box13 box13"
    "box1 box1 box1 box1 box17 box18 box14 box14 box15 box15"
    "box1 box1 box1 box1 box9 box9 box14 box14 box15 box15"
    "box4 box4 box10 box10 box9 box9 box6 box6 box6 box6"
    "box4 box4 box10 box10 box16 box16 box6 box6 box6 box6"
    "box11 box11 box12 box12 box7 box5 box6 box6 box6 box6"
    "box11 box11 box12 box12 box7 box5 box6 box6 box6 box6";
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  grid-area: box1;
  border-bottom: 1px solid silver;
}

.box2 {
  grid-area: box2;
  border-left: 1px solid silver;
  height: 110px;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
}

.box5 {
  grid-area: box5;
  border-left: 1px solid silver;
}

.box6 {
  grid-area: box6;
  border-top: 1px solid silver;
}

.box7 {
  grid-area: box7;
  border-right: 1px solid silver;
}

.box8 {
  grid-area: box8;
  border-right: 1px solid silver;
  height: 110px;
}

.box9 {
  grid-area: box9;
}

.box10 {
  grid-area: box10;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}

.box11 {
  grid-area: box11;
}

.box12 {
  grid-area: box12;
}

.box13 {
  grid-area: box13;
}

.box14 {
  grid-area: box14;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
}

.box15 {
  grid-area: box15;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
}

.box16 {
  grid-area: box16;
  display: flex;
  flex-direction: column;
}

.box17 {
  grid-area: box17;
  height: 80px;
  position: relative;
  
}

.box17:after {
  content: "";
  background: silver;
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 1px;
}

.box18 {
  grid-area: box18;
  height: 80px;
  position: relative;
}
.box18:after {
  content: "";
  background: silver;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 1px;
}

.cherry-blossom_pic,
.run_pic  {
  width: 270px;
  height: 150px;
}

.profile-image {
  width: 80%;
  border-radius: 50%;
  border: 5px double gray;
  margin: 5px 0px;
  z-index: 1;
}

.baseball_pic,
.tiger_pic {
  width: 120px;
  height: 90px;
}

.name {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Archivo', sans-serif;
  line-height: 27px;
}

.title {
  margin: 0px 0px 5px 0px;
}

.box-link, 
.title {
  font-family: 'Handlee', cursive;
  text-decoration: none;
  color: black;
  font-size: 18px
}

.box-link:hover {
  text-decoration: underline;
  color: blue
}

.tilt-pic {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt-right:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.tilt-left:hover {
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}


/* Website inspired by http://www.belcortes.com/ */
/* button hover effects by https://codepen.io/kjbrum/pen/wBBLXx
