.footer-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5%;
  position: absolute;
  bottom: 0;
}

.footer-container h4 {
  font-weight: normal;
}

.favicons i {
  color: #2d2b2b;
}

@media screen and (max-width: 540px) {
  .fa-2x {
    font-size: 1em;
  }
  .footer-container h4 {
    font-size: 11px;
  }
}
